<form action='/figures/<%=@figure.id%>' method="POST">
<input type="hidden" id="hidden" name="_method" value="patch">
<input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name %>">


<% Title.all.each do |t| %>
<p><input type="checkbox" name="figure[title_ids][]" id="title_<%=t.id%>" value="<%= t.id %>"><%=t.name%></p>
<%end%>

<br></br>

<% Landmark.all.each do |l| %>
<p><%=l.id%><input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=l.id%>" value="<%= l.id %>"> <%=l.name%> </p>
<%end%>

<br></br>

<input type="text" name="landmark[name]" id="new_landmark">
<input type="text" name="title[name]" id="new_title">
<input type="submit" value="Edit Figure">
</form>